<form novalidate ng-submit="login.submit()" class="auth">
  <div class="row">
    <label>Email</label>
    <input class="u-full-width" type="email" placeholder="Email" ng-model="login.credentials.email">
  </div>
  <div class="row">
    <label>Password</label>
    <input class="u-full-width" type="password" placeholder="Password" ng-model="login.credentials.password">
  </div>

  <button>Login</button>
  <p>Want to create an account? Click <a ui-sref="register">here</a> to register.</p>
</form>
