<div class="boards--show">
  <h2 ng-class="{ edit: boardsShow.belongsToUser }" ui-sref="boardsShow.edit" ng-click="boardsShow.toggleForm()">{{boardsShow.board.title}}</h2>
  <h3>{{boardsShow.user.username}}</h3>
  <button class="pins__add" ng-click="boardsShow.toggleForm()" ui-sref="boardsShow.newPin">Add pin</button>

  <div class="modal" ng-show="boardsShow.formVisible">
    <div class="modal__inner">
      <div ui-view="form"></div>
    </div>
  </div>

  <ul class="pins">
    <li ng-repeat="pin in boardsShow.board.pins" class="pins__pin">
      <img ng-if="pin.type == 'image'" ng-src="{{ pin.source }}">
      <div class="pins__overlay">
        <span class="like" ng-click="boardsShow.like(pin)" ng-class="{liked: pin.likes.indexOf(boardsShow.currentUser) > -1}"> {{pin.likes.length || 0}} likes</span>
        <span class="delete" ng-click="boardsShow.deletePin(pin)" ng-if="boardsShow.belongsToUser"></span>
        <span class="pin" ng-click="boardsShow.repin(pin); boardsShow.toggleForm()" ui-sref="boardsShow.repin"></span>
      </div>
    </li>
  </ul>
</div>
