@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/variables';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';
@import 'partials/typography';

// extends
.overlay {
  @include position(absolute, 0 0 0 0);
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: all 0.2s ease;
}

.italic {
  font-style: italic;
}

*, *:before, *:after {box-sizing:  border-box !important;}

body {
  font-family: $font-family;
}

img {
  max-width: 100%;
}

main {
  @include outer-container;
  padding: 0 20px;
  position: relative;
  margin-bottom: 50px;
}

form {
  button {
    width: 100%;
  }
  &.auth {
    @include span-columns(6);
    @include shift(3);
    @media screen and (max-width: 767px) {
      @include span-columns(12);
      @include shift(0);
    }
    button {
      margin-bottom: 20px;
    }
    p {
      font-style: italic;
      text-align: center;
      a {
        font-weight: bold;
      }
    }
  }
}

header {
  background-color: $dark-gray;
  color: white;
  height: 50px;
  margin-bottom: 30px;
  nav {
    @include outer-container;
    padding: 0 20px;
    ul {
      li {
        display: inline-block;
        float: right;
        line-height: 50px;
        margin-left: 15px;
        &.logo {
          float: left;
          margin-left: 0;
          font-size: 22px;
          font-weight: bold;
        }
        &.burger {
          display: none;
        }
        @media screen and (max-width: 767px) {
          &.burger {
            display: block;
            cursor: pointer;
          }
        }
        a {
          color: white;
          &.active {
            position: relative;
            &:after {
              content: "";
              @include position(absolute, null 0 -2px 0);
              background-color: #FFFFFF;
              height: 2px;
              @media screen and (max-width: 767px) {
                background-color: $dark-gray;
              }
            }
          }
        }
      }
      .dropdown {
        display: block;
        @media screen and (max-width: 767px) {
          display: none;
          @include position(fixed, 50px 0 0 0);
          background-color: rgba(0, 0, 0, 0.25);
          z-index: 100;
          &__inner {
            padding: 10px 20px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: white;
            z-index: 1;
            border-bottom: 2px solid $dark-gray;
          }
          &.active {
            display: block;
          }
          li {
            display: block;
            float: none;
            margin: 0;
            a {
              color: $dark-gray;
            }
          }
        }
      }
    }
  }
}

.hero {
  background-image:url('../assets/images/bg.jpg');
  height: calc(100vh - 50px);
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 50px;
  left: 0;
  &__inner {
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    text-align: center;
    h1 {
      font-size: 60px;
      color: #FFFFFF;
      font-weight: bold;
      margin-bottom: 10px;
      @media screen and (max-width: 767px) {
        font-size: 40px;
      }
    }
    h2 {
      color: #FFFFFF;
      font-size: 16px;
      span {
        font-style: italic;
      }
    }
  }
}

.boards--show {
  h2 {
    max-width: calc(100% - 35px);
  }
  .edit {
    @extend .icon-pencil;
    position: absolute;
    top: 6px;
    right: 130px;
    @media screen and (max-width: 767px) {
      right: 20px;
      top: 0;
    }
    &:before {
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.boards {
  &__overlay {
    @extend .overlay;
  }
  &__board {
    @include span-columns(3);
    @include omega(4n);
    @media screen and (max-width: 767px) {
      @include span-columns(6);
      @include omega(2n);
    }
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    a {
      @include position(absolute, 0 0 0 0);
      color: white;
      h2 {
        @include position(absolute, 50% null null 50%);
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
      }
    }
    &:hover {
      .boards__overlay {
        opacity: 1;
      }
    }
  }
}

.pins {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  &__add {
    position: absolute;
    top: 0;
    right: 20px;
    @media screen and (max-width: 767px) {
      position: static;
      margin-bottom: 10px;
      margin-top: 0.25em;
      width: 100%;
    }
  }
  &__pin {
    display: inline-block;
    margin: 0.25rem 0;
    width:  100%;
    position: relative;
    &:hover {
      .pins__overlay {
        opacity: 1;
      }
    }
  }
  &__overlay {
    @media screen and (max-width: 767px) {
      &.active {
        opacity: 1;
      }
    }
    @extend .overlay;
    bottom: 0.25em;
    color: #FFFFFF;
    padding: 10px;
    font-size: 12px;
    cursor: default;
    .like {
      cursor: pointer;
      @extend .icon-heart;
      position: relative;
      padding-left: 20px;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      &.liked {
        &:before {
          color: #ff8399;
        }
      }
    }
    .delete {
      @include position(absolute, null null 10px 10px);
      cursor: pointer;
      @extend .icon-trash;
    }
    .pin {
      @extend .icon-pin;
      @include position(absolute, 10px 10px null null)
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.modal {
  @include position(fixed, 0 0 0 0);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  &__inner {
    width: 50%;
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
    padding: 20px 20px 0;
    padding-bottom: calc(20px - 0.75em);
    background-color: #ffffff;
    button {
      width: 100%;
      margin-bottom: 0.75em;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }

    .boards {
      &__board {
        cursor: pointer;
        a {
          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
